*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
ul {
   list-style: none;
}
a {
   text-decoration: none;
   outline: none;
}
img {
   display: block;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display';
   font-weight: normal;
   letter-spacing: 1px;
}
body {
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 14px;
   line-height: 1;
   color: #373737;
   background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px;
   padding: 0 15px;
}

header {
   width: 100%;
   background: white;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* логотип */
.logo {
   display: block;
   float: left;
}
.logo span {
   color: white;
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
 }
   /* делаем элементы списка блочными, чтобы они располагались друг под другом */
   #menu li {
      display: block;
      text-align: center;
      border-bottom: 1px solid #EBEBE3;
      margin-right: 0;
   }
